@import "../../../colors.scss";

#background {
  align-items: flex-end;
  background-color: $champagne;
  display: flex;
  justify-content: center;
  width: 100%;
}
#footer-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  min-width: 500px;
}
.footer-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  color: $darkText;
}
.footer-link {
  margin: 5px;
  text-decoration: none;
  color: $darkText;
}
#social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}
