#product-loading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

#master-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  min-width: 500px;
}

#image-wrapper {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
}

#product-image {
  width: 80%;
  margin-top: 30px;
  cursor: pointer;
}

#zoom {
  height: 30px;
  width: 50%;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#zoom-icon {
  height: 50%;
  margin-left: 10px;
}

#full-image-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(52, 52, 52, 0.8);
}

#details-wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  color: #444;
}

#title {
  font-size: 50px;
}

#model {
  font-size: 30px;
}

#buy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  width: 100%;
}

#btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 75%;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

#buy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7e7ce;
  border-radius: 6px;
  border: 1px solid #e3c09a;
  width: 110px;
  height: 100%;
}

#go-to-cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: yellow;
  border-radius: 6px;
  border: 1px solid #e3c09a;
  width: 110px;
  height: 100%;
}

#finance-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 110px;
  height: 100%;
  color: #444;
  margin-left: 10px;
  text-align: center;
  font-size: 13px;
  background-color: #ddd;
}

#divider {
  background-color: #444;
  width: 100%;
  height: 1px;
  margin-top: 10px;
}

#specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

#properties {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#values {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#activity-indicator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#others {
  width: 75%;
  min-width: 500px;
  color: #444;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

#bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  background-color: white;
  width: 75%;
  min-width: 500px;
  height: 270px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */